@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common Colors (Theme-Independent) */
html {
  --accent-color: #624de3;
  --edit-icon-color: #624de3;
  --delete-icon-color: #a30d11;
  --sort-arrow-color: #9e9e9e;
  --process-bg-color: #fef2e5;
  --process-text-color: #cd6200;
  --delivered-bg-color: #ebf9f1;
  --delivered-text-color: #1f9254;
  --canceled-bg-color: #fbe7e8;
  --canceled-text-color: #a30d11;
}

/* Light Theme */
html[data-theme="light"] {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f7f6fe;
  --accent-hover-color: #5a3ec7;
  --text-color: #000000;
  --pagination-bg-color: #e0e0e0;
  --pagination-text-color: #9e9e9e;
  --search-bar-color: #9e9e9e;
}

/* Dark Theme */
html[data-theme="dark"] {
  --primary-bg-color: #1d1e42;
  --secondary-bg-color: #26264f;
  --accent-hover-color: #7b5dff;
  --text-color: #ffffff;
  --pagination-bg-color: #141432;
  --pagination-text-color: #9e9e9e;
  --search-bar-color: #ffffff;
}

body {
  @apply bg-primaryBgColor text-textColor text-sm;
}

.primary-btn {
  @apply bg-accentColor hover:bg-accentHoverColor text-textColor;
}

.secondary-btn {
  @apply bg-transparent;
}
